.navbar{
    background-color: rgba(1, 1, 31, 0.942);
    
}
.search
{
    display: flex;
    justify-content: center;
    
}
.string{
    background-color: rgb(4, 4, 75);
    color: white;
}
footer{
    background-color: rgba(1, 1, 31, 0.942);
    text-align: center;
    color: white;
    padding: 5px;
    font-size: large;
  
}
main{
    min-height: calc(100vh - 80px);
}